<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script src="http://code.highcharts.com/modules/drilldown.js"></script>


{% extends 'base.html' %}
{% block title %}
Excella Forecasts
{% endblock %}

{% block content %}

<table><tr>
<td><div id="risk_adj_rev"></div></td>
<td><div id="fc_rev"></div></td>
</tr></table>

	Forecasted Total Revenue: {{total_rev}}</p>
	Risk Adjusted Total Revenue: {{risk_adj_rev}}</p>
	Forecasted Total Hours: {{total_hrs}}</p>
	Forecasted Average Rate: {{fc_avg_rate}}</p>


<script>
$(function () {
    $('#risk_adj_rev').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: 1,//null,
            plotShadow: false,
            type: 'pie',
            style: { fontSize: '11'}
        },
        title: {
            text: '2015 Risk Adjusted Forecasted Revenue: {{risk_adj_rev}}'
        },
        tooltip: {
            pointFormat: '${point.y:,.2f}: <b></b>{point.percentage:.1f} %'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: ${point.y:,.2f}',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            type: 'pie',
            name: '2015 Risk Adjusted Revenue',
            data: [
            	{% for fc in fc_by_sector %}
        			{name: '{{fc.sector_name}}', 
        			y: {{fc.risk_adjusted_total_revenue__sum}},
        			drilldown: 'drill_{{fc.sector_name}}'}
	                {% if not forloop.last %}
	                    , 
	                {% endif %}
    			{% endfor %}
            ]
        }], 
        drilldown: {
        	{{ra_drilldown|safe}}
        }
    });
});

$(function () {
    $('#fc_rev').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: 1,//null,
            plotShadow: false,
            type: 'pie',
            style: { fontSize: '11'}
        },
        title: {
            text: '2015 Forecasted Total Revenue: {{total_rev}}'
        },
        tooltip: {
            pointFormat: '${point.y:,.2f}: <b></b>{point.percentage:.1f} %'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: ${point.y:,.2f}',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            type: 'pie',
            name: '2015 Forecasted Total Revenue',
            data: [
            	{% for fc in fc_by_sector %}
        			{name: '{{fc.sector_name}}', 
        			y: {{fc.forecasted_total_revenue__sum}},
        			drilldown: 'drill_{{fc.sector_name}}'}
	                {% if not forloop.last %}
	                    , 
	                {% endif %}
    			{% endfor %}
            ]
        }], 
        drilldown: {
        	{{tot_rev_drilldown|safe}}
        }
    });
});
</script>
{% endblock %}
